<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
      #map {
          height: 100%;
      }
  </style>
</head>
<body>
<div id="map"></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    marks = {}
    $(document).ready(function(){
        add_marks();
        setInterval(function(){
            $.get( "/update", function( data ) {
                add_marks();
            });
        }, 25000);
    });

    function remove_markers() {
        $.each(marks, function( i, l ){
            l.setMap(null);
        });
    }

    function add_marks() {
        remove_markers();
        $.get( "/update", function( data ) {
            $.each(data, function( i, l ){
                var marker;
                marker = new google.maps.Marker({
                    position: {lat: l['lat'], lng: l['lng']},
                    map: map,
                    icon: '/'+l['type']+'.png',
                    title:  l['id'] + ' Driving: ' + l['direction']
                });

                marks[l['id']] = marker
            });
        });
    }

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= downtown[:lat]%>, lng: <%= downtown[:lng]%>},
            zoom: 12
        });

        var marker = new google.maps.Marker({
            position: {lat: <%= downtown[:lat]%>, lng: <%= downtown[:lng]%>},
            map: map,
            icon: '/downtown.png',
            title: 'Snowdia Downtown'
        });

        add_marks();
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJcQiSfzOb_FWgkNc7Y6_mN4FRPDtYiUY&callback=initMap"
        async defer></script>
</body>
</html>